 *{
    margin: 0;
    padding: 0;        
}
.fundo { 
    background-image:linear-gradient(45deg, black, rgb(28, 185, 130));
    height: 100vh;
    color:white;
    font-family: arial;
    text-align: center;
}
.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;

}
.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 2px solid #000
    cursor: pointer;    
    border: none;
    color: white;
    margin: 3px;    
    padding: 2%;   
    border-radius: 5px;   
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -4px 4px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1rem;
}

.button:hover {
    background-color: black;

}
#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 8px;

}